/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.container {
  max-width: 600px;
  margin: 0 auto;
}
header .firstNav {
  height: 19px;
  margin: 0 2%;
}
header .firstNav nav {
  display: flex;
  justify-content: flex-end;
}
header .firstNav nav a {
  text-decoration: none;
  margin-right: 3%;
  color: #2b2d2f;
  font-size: 0.8rem;
  font-family: 'Lora', serif;
}
header .secondNav {
  justify-content: flex-start;
  display: flex;
  align-content: center;
  background-color: #2b2d2f;
  height: 75px;
}
header .secondNav nav a {
  text-decoration: none;
  padding: 35px;
  font-size: 2rem;
  color: #DBA72E;
}
main .AdOne {
  align-content: center;
  margin: 2%;
  height: 250px;
  background-color: #DBA72E;
  display: flex;
  flex-direction: column;
}
main .AdOne img {
  width: 100%;
  padding-bottom: 23px;
}
main .AdOne h3 {
  font-size: 2rem;
  color: #E83337;
  bottom: 200px;
}
main .fourRows {
  display: flex;
  justify-content: center;
  padding-top: 180px;
  flex-wrap: wrap;
  height: auto;
}
main .fourRows img {
  width: 100%;
  height: auto;
  max-width: 25%;
  margin: 1%;
}
main .bottomNav {
  justify-content: space-evenly;
  display: flex;
  align-content: baseline;
  background-color: #2b2d2f;
  height: auto;
}
main .bottomNav a {
  margin: 2%;
  display: flex;
  justify-content: flex-start;
  font-family: 'Lora', serif;
  text-decoration: none;
  padding: 3%;
  font-size: 1rem;
  color: #DBA72E;
}
main .bottomNav input {
  font-size: 1rem;
  padding: 2px;
  background-color: #fff;
  color: #997C67;
  margin: 70px;
  width: 300px;
}
