@DkColor:  #755330;
@LtAccent: #DBA72E;
@DkAccent: #997C67;
@LtColor: #B0703C;

header{
  
    .firstNav{
      height: 19px;
      margin: 0 2%;
  
      nav{
        display:flex;
        justify-content: flex-end;
        
      
        a{
            text-decoration: none;
          margin-right: 3%;
          color: @LtAccent;
          font-size: .8rem;
        
        }//end a
      }//end nav
    }//end firstNav
  
  .secondNav{
    background-color:@DkColor;
    height: 75px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    nav{
    
      
      a{
      
        text-decoration: none;
        padding: 35px;
        font-size: 2rem;
        color:@LtAccent;
      }
    }//end nav
  }//end secondNav
}//end header

main{
  .AdOne{
    margin: 2%;
    height: 250px;
    background-color: @LtAccent;
    display:flex;
   flex-direction: column;
    align-items: center;
    
    img{
      width: 100%;
  
    }//end img
    
    h3{
      font-size: 2rem;
      color:@DkColor;
    }
  }//end AdOne
  
  .fourRows{
    display:flex;
    flex-wrap: wrap;
    background: orange;
    img{
      width: 100%;
      height: auto;
      max-width: 25%;
    }// end img
  }//end fourRows
  
}//end main