main .home{
    .AdOne{
      .customAlignment(center);
      margin: 2%;
      height: 250px;
      background-color: @LtAccent;
      display:flex;
     flex-direction: column;
  
      
      img{
        width:100%;
        padding-bottom: 23px;
      }//end img
      
      h3{
        font-size: 2rem;
        color:@LtColor;
       
    
      }
  
    }//end AdOne
    
    .fourRows{
      .customLayout(center);
      padding-top: 10px;
      flex-wrap: wrap;
      height: auto;
      background-color: orange;
     
      img{
        width: 100%;
        height: auto;
        max-width: 25%;
        margin: 1%;
      }// end img
    }//end fourRows
}//end main  