//imports
@import "reset.less";
@import "variables.less";
@import "generalStyles.less";
@import "nav.less";
@import "home.less";
@import "bestSeller.less";


// mixins
.customLayout(@layout){
  display: flex;
  justify-content: @layout
}

.customAlignment(@alignment){
  display:flex;
  align-content: @alignment;
}


 


