// variables
@DkColor:  #2b2d2f;
@LtColor: #eee;
@LtAccent: #DBA72E;
@DkAccent: #000222;
@tablet: ~"(max-width: 800px)";
@mobile: ~"(max-width: 500px)";
@fontStack: @primaryFont;
@primaryFont:'Lora', serif;

@mobile: ~"(max-width: 500px)";
// mixins
.customLayout(@layout){
    display: flex;
    justify-content: @layout
  }
  
  .customAlignment(@alignment){
    display:flex;
    align-content: @alignment;
  }

  .customBtn(@width, @height, @background, @font-size, @font-color, @border-radius){
      width: @width;
      height: @height;
      background: @background;
      font-size: @font-size;
      color: @font-color;
      border-radius: @border-radius;

  }